default_stages: [commit]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '(migrations/.*\.py$|settings\.py$)'
      - id: ruff-format
        exclude: '(migrations/.*\.py$|settings\.py$)'

